.sign_up {
    background-image: url(../images/sign_up.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
    
    .wrapper {
        position: relative;
        padding-top: 70px;
        padding-bottom: 70px;
        z-index: 1;
    }
    
    .places {
        width: 280px;
        display: inline-block;
        vertical-align: top;
        
        @media ($tablets) {
            width: 100%;
        }
        
        .citate {
            width: 257px;
            height: 192px;
            background-image: url(../images/tip.png);
            background-size: 100%;
            margin-left: -30px;
            padding-left: 30px;
            text-align: center;
            padding-bottom: 20px;
            @extend %vertAlign;
            
            @media ($tablets) {
                display: inline-block;
                vertical-align: middle;
            }
            
            @media ($phones) {
                display: block;
                margin: 0 auto;
                margin-bottom: 25px;
            }
            
            p {
                display: inline-block;
                vertical-align: middle;
                width: 95%;
                font-size: 43.6px;
                font-family: $g;
                color: $blue;
                text-shadow: 2px 2px 0 #000;
                text-align: center;
                line-height: normal;
                margin-bottom: 0;
            }
        }
        
        .left {
            background: url('../images/buttons.png') no-repeat;
            background-position: -5px -249px;
            width: 271px;
            height: 91px;
            margin-top: 15px;
            margin-right: 0;
            @extend %vertAlign;
            
            @media ($tablets) {
                display: inline-block;
                vertical-align: middle;
                margin: 0 30px;
            }
            
            @media ($phones) {
                margin: 0;
            }
            
            p {
                display: inline-block;
                vertical-align: middle;
                width: 95%;
                font-family: $d;
                font-size: 14px;
                text-transform: uppercase;
                color: #fff;
                text-align: center;
                line-height: normal;
                margin-bottom: 0;
                
                span {
                    font-family: $g;
                    font-size: 40px;
                    color: $yellow;
                    text-shadow: 2px 2px 0 #000;
                    line-height: 40px;
                    margin-right: 10px;
                }
            }
        }
    }
    
    .inscribe_in {
        width: calc(100% - 290px);
        display: inline-block;
        vertical-align: middle;
        text-align-last: top;
        text-align: left;
        padding-top: 30px;
        
        @media ($tablets) {
            width: 100%;
            text-align: center;
        }
        
        h2 {
            line-height: 60px;
            margin-bottom: 64px;
            
            @media ($tablets) {
                text-align: center;
                margin-bottom: 30px;
                
                br {
                    display: none;
                }
            }
        }
        
        .button {
            margin-left: 47px;
            
            @media ($tablets) {
                margin-left: 0;
            }
        }
    }
    
    .superman {
        position: absolute;
        bottom: 0;
        right: -163px;
        z-index: -1;
        
        @media ($tablets) {
            display: none;
        }
    }
}