@import 'mixfonset/reset';
@import 'plugins/slick';
@import 'plugins/slick-theme';
@import 'plugins/magnific-popup';
@import 'mixfonset/fonts';
@import 'mixfonset/settings';
@import 'mixfonset/mixins';
@import 'buttons';


/*

CSS clearfix----------  @extend %clearfix;

CSS vertical align 
with before  ---------  @extend %clearfix;

CSS position----------  @include position(absolute, auto, 0, auto, 0);

CSS transition--------  @include transition(all, .2s);
CSS transform---------  @include transform(rotate(45deg));
CSS animation---------  @include animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms);

CSS FLEX--------------  @include flex($alignI: center, $justify: space-between,  $direction: row, $wrap: nowrap);	  
CSS FLEX direction----  @include flexDirection(column);
  
CSS Triangle----------  @include triangle(left, $size: 6px, $color: #222);
CSS text ending ------  @include textEnd($overflow: ellipsis); // values are: clip, ellipsis, or a string
CSS tooltip-----------  @include tooltiptooltip($content: attr(data-tooltip), $direction: top);


*/

p {
   font: 14px/25px $c; 
   text-align: left;
   margin-bottom: 25px;
   /*.................media.............*/
    @include m600 {
       font-size: 13px;
       line-height: 20px;
    }
    /*.............end media..............*/
}
h2 {
    font: 55px/60px $g;
    color: $yellow;
    /*.................media.............*/
    @include m900 {
       font: 50px/55px $g;
    }
    @include m600 {
       font: 45px/50px $g;
    }
    @include m500 {
       font: 40px/45px $g;
    }
    @include m400 {
       font: 35px/40px $g;
    }
    @include m360 {
       font: 30px/35px $g;
    }
    /*.............end media..............*/
}


/*=====================================================================================*/
/*  HEADER STYLES  */ 
         
header {
    @include position(absolute, 20px, auto, auto, 0);
    width: 100%;
    z-index: 100;
    margin: 0;
    color: #FFF;
    @include transition(all, .4s);
    
        /*.................media.............*/
        @include m1000 {
            @include position(fixed, 0, auto, auto, -100%);
            background-color: rgb(255, 24, 4);
            width: 260px !important;
            height: 100%;
            text-align: center;
            margin-top: 0;
            padding: 20px 0;
            z-index: 100;
             
            &.active { left: 0;}

            .logo img{
                width: 100%;
            }
        }
        /*.............end media..............*/
        
    .wrapper {
         @include flex();
            /*.................media.............*/
            @include m1000 {
               @include flexDirection(column);
               width: 100%;
            }
            /*.............end media..............*/
    }
}


/* ------------------------------------ */
/*  LOGO STYLES  */


.tel {
    display: block;
    font: 19px $d;
    margin-bottom: 20px;
    color: #FFF;
}

/* ------------------------------------ */
/*  NAV STYLES  */

@media (min-width: 1000px) {
    nav.hasScrolled {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        background-color: rgba(255, 24, 4, .95);
        transition: all .2s;
        -webkit-transition: all .2s;
        -webkit-box-shadow: 0 0 10px rgba(0,0,0, .4);
                box-shadow: 0 0 10px rgba(0,0,0, .4);
        ul {
            width: 600px;
            margin: 0 auto;
            padding: 5px 0;
        }
    }    
}

nav ul {
    @include flex();
    list-style-type: none;
    a {
        display: inline-block;
        padding: 0 14px;
        height: 35px;
        font: 14px/35px $cb;  
        color: #FFF;      
        text-decoration: none;
        overflow: hidden;
        -webkit-background-size: 100% 100%;
             -o-background-size: 100% 100%;
                background-size: 100% 100%;
        @include transition(all, .2s);             
        &:hover {}
        &.active {   
            background-image: url('../images/button--top_menu.png');     
        }
    }

        /*.................media.............*/
        @include m1000 { 
            display: block;
            height: 100%;
            overflow: scroll;
            position: relative;
            li a  {   
                &.active {color: #ECCC1D;}
                &:hover  {background: transparent;}
            } 
        }
        /*.............end media.............*/
}



/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 50px;
    height: 50px;
    @include position(fixed, 15px, 7px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: rgba(255, 24, 4, 1);
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 5px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 12px;  margin: auto;}
    .middle_line           {   top: 22px;  margin: auto;}
    .bottom_line           {   bottom: 12px; margin: auto;}

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @include m1000 {
            display: block;
        }
        /*..............end media.............*/

}





/*=====================================================================================*/
/*  OFFER STYLES  */ 


.offer {
    height: 680px;
    background: url('../images/offer.jpg') no-repeat center center;
    padding: 160px 0 0 0;
    position: relative;
    overflow: hidden;
    /*.................media.............*/
    @include m1000 {
        height: 580px;
        padding-top: 60px;
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(0,0,0, .3);
            z-index: 0;
        }
    }
    /*.............end media..............*/
    .after {
        width: 1px;
        position: absolute;
        left: auto;
        right: 0;
        bottom: 0px;
        z-index: 4;
        border-left: 1900px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 100px solid #fff;
    }
    .wrapper {
        height: 100%;
    }
}

.offer__slider {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    .slick-list {
        height: 100%;
    }
    .slick-list,
    .slick-track {
        overflow: visible;
    }
    &__slide {
        position: relative !important;
        text-align: right;
        /*.................media.............*/
        @include m400 {
           text-align: center;
        }
        /*.............end media..............*/
        img {
            @include position(absolute, auto, auto, -90px, 0);
            z-index: 1;
        }
        &:nth-of-type(1) img {
            @include position(absolute, auto, auto, -193px, -77px);
            /*.................media.............*/
            @include m900 {
                bottom: -125px;
                width: 500px;
            }
            @include m700 {
                left: -100px;
            }
            @include m400 {
              left: -130px;
            }
            /*.............end media..............*/
        }
        &:nth-of-type(2) img {
            @include m700 {
              width: 360px;
              left: -50px;
            }
        }
        &:nth-of-type(3) img {
            @include position(absolute, auto, auto, -100px, -77px);
            @include m700 {
              width: 400px;
              left: -180px;
              bottom: -120px;
            }
        }
        &__info {
            min-width: 520px;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            position: relative;
            z-index: 2;
            @include m900 {
                min-width: auto;            
            }
            h2 {
                font: 48px/60px $g;
                color: $yellow;
                text-shadow: 2.828px 2.828px 0px rgba( 0, 0, 0, 1 );
                span {
                    display: block;
                    font-size: 56px;
                }
                /*.................media.............*/
                @include m900 {
                   font: 42px/50px $g;
                   span {
                       font-size: 48px;
                   }
                }
                @include m700 {
                   font: 36px/45px $g;
                   span {
                       font-size: 42px;
                   }
                }
                @include m500 {
                   font: 32px/40px $g;
                   span {
                       font-size: 36px;
                   }
                }
                @include m360 {
                   font: 26px/35px $g;
                   span {
                       font-size: 30px;
                   }
                }
                /*.............end media..............*/
            }
            .offer__slider__quote {
                display: block;
                font: 44px/45px $g;
                text-shadow: 2.121px 2.121px 0px rgba( 0, 0, 0, 1 );
                color: $blue;
                width: 286px;
                height: 200px;
                background-image: url("../images/tip.png");
                background-size: auto;
                margin-left: 0px;
                background-repeat: no-repeat;
                margin-top: -8px;
                background-position: 0px 6px;
                span {
                    display: inline-block;
                    vertical-align: middle;
                    text-align: left;
                    padding-left: 10px;
                }
                &:before {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    height: 100%;
                }
                /*.................media.............*/
                @include m1000 {
                    margin: 0 auto;
                    font: 38px $g;
                }
                @include m700 {
                   font-size: 34px;
                   text-align: center;
                }
                @include m500 {
                   font-size: 28px;
                   width: 206px;
                    height: 176px;
                    background-size: 100% 100%;
                }
                /*.............end media..............*/
            }
            .button {
                margin-top: 20px;
            }
        }
        &:nth-of-type(2),
        &:nth-of-type(3)  {
            .offer__slider__quote {
                margin: -8px auto 0;
                /*.................media.............*/
                @include m1000 {
                    margin: 0 auto;
                }
                /*.............end media..............*/
            }
        }
    }
}



/*=====================================================================================*/
/*  ABOUT  */ 

.whoWhom {
    margin-top: 115px;
    @include flex($alignI: top);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    padding-bottom: 70px;
    position: relative;
    /*.................media.............*/
    @media (min-width: 600px) {
        background-image: url("../images/5.png");
    }
    @include m1000 {
        background-position: 100% 100%;
        margin-top: 40px;
        padding-bottom: 0;
       -webkit-flex-direction: column;
           -ms-flex-direction: column;
               flex-direction: column;
    }
    @media (max-width: 600px) {
        margin-top: 170px;
        display: block;
        text-align: center;
    }
    /*.............end media..............*/
    .before {
        display: block;
        width: 300px;
        height: 130px;
        position: absolute;
        background-color: transparent;
        left: 0;
        right: 0;
        margin: auto;
        background-image: url("../images/sky.png");
        background-size: 100% 100%;
        font: 50px $g;
        color: $red;
        background-repeat: no-repeat;
        top: -86px;
        padding-top: 15px;
        text-shadow: 2.121px 2.121px 0px rgb( 0, 0, 0 );
        /*.................media.............*/
        @include m1000 {
            padding-top: 10px;
            width: 260px;
            height: 110px;
            font-size: 45px;
            left: auto;
            bottom: 60px;
            right: 40px;
        }
        @media (max-width: 600px) {
           bottom: auto;
           top: -120px;
           left: 0;
           right: 0;
           margin: auto;
        }
        /*.............end media..............*/
    }
    &__item {
        width: 340px;
        display: inline-block;
         /*.................media.............*/
        @include m1000 {
            margin-bottom: 40px;
        }
        /*.............end media..............*/
        h3 {
            font: 45px/60px $g;
            margin-bottom: 10px;
            text-align: left;
             /*.................media.............*/
            @include m600 {
                font: 35px/45px $g;
            }
            /*.............end media..............*/
        }
        p {
            padding-right: 20px;
            min-height: 150px;
             /*.................media.............*/
            @include m900 {
                text-shadow: 1px 0 0px #fff, -1px 0 0px #fff, 0px -1px 0px #fff, 0px -1px 0px #fff;
                min-height: 0;
            }
            /*.............end media..............*/
        }
        @media (max-width: 400px) {
           width: 100%;
        }
    }
}


/*=====================================================================================*/
/*  PROGRAMS  */ 

.chooseProgram {
     background-image: url("../images/programs.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    margin-top: -60px;
    padding-top: 130px;
    padding-bottom: 40px;
    position: relative;
    z-index: 2;
}

.programs {
    width: 110%;
    margin-left: -5%;
    @include flex($alignI: top, $wrap: wrap, $justify: space-around);
    &__item {
        width: 170px;
        height: 115px;
        padding-top: 25px;
        margin: 30px 17px 0;
        &:before {
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            content: "";
        }
        span {
            display: inline-block;
            vertical-align: middle;
            font: 12px $d;
            color: #FFF;
            text-transform: uppercase;
        }
        &:hover {
            span {
                color: $yellow;   
            }
        }
    }
}


@import 'shedule';
@import 'abonement';
@import 'team';
@import 'gallery';
@import 'sign-up';
@import 'footer';


.autism-hover, .autism, .dancing-hover, .dancing, .karate-hover, 
.karate, .acrobatics-hover, .acrobatics, .all-hover, .all, 
.ballet-hover, .ballet, .basketball-hover, .basketball, .box-hover, 
.box, .figure-hover, .figure, .fitness-hover, .fitness, 
.gym-hover, .gym, .parkur-hover, .parkur, .roller-hover, 
.roller, .yoga-hover, .yoga
{ display: inline-block; background: url('png.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.autism:hover { background-position: -5px -0px; width: 175px; height: 114px; }
.autism { background-position: -5px -119px; width: 175px; height: 114px; }
.dancing:hover { background-position: -5px -238px; width: 175px; height: 114px; }
.dancing { background-position: -5px -357px; width: 175px; height: 114px; }
.karate:hover { background-position: -5px -476px; width: 175px; height: 114px; }
.karate { background-position: -5px -595px; width: 175px; height: 114px; }
.acrobatics:hover { background-position: -5px -714px; width: 174px; height: 113px; }
.acrobatics { background-position: -5px -832px; width: 174px; height: 113px; }
.all:hover { background-position: -5px -950px; width: 174px; height: 114px; }
.all { background-position: -5px -1069px; width: 174px; height: 114px; }
.ballet:hover { background-position: -5px -1188px; width: 174px; height: 114px; }
.ballet { background-position: -5px -1307px; width: 174px; height: 114px; }
.basketball:hover { background-position: -5px -1426px; width: 174px; height: 114px; }
.basketball { background-position: -5px -1545px; width: 174px; height: 114px; }
.box:hover { background-position: -5px -1664px; width: 174px; height: 114px; }
.box { background-position: -5px -1783px; width: 174px; height: 114px; }
.figure:hover { background-position: -5px -1902px; width: 174px; height: 112px; }
.figure { background-position: -5px -2019px; width: 174px; height: 112px; }
.fitness:hover { background-position: -5px -2136px; width: 174px; height: 114px; }
.fitness { background-position: -5px -2255px; width: 174px; height: 114px; }
.gym:hover { background-position: -5px -2374px; width: 174px; height: 114px; }
.gym { background-position: -5px -2493px; width: 174px; height: 114px; }
.parkur:hover { background-position: -5px -2612px; width: 174px; height: 112px; }
.parkur { background-position: -5px -2729px; width: 174px; height: 112px; }
.roller:hover { background-position: -5px -2846px; width: 174px; height: 113px; }
.roller { background-position: -5px -2964px; width: 174px; height: 113px; }
.yoga:hover { background-position: -5px -3082px; width: 174px; height: 113px; }
.yoga { background-position: -5px -3200px; width: 174px; height: 113px; }
