@import 'mixfonset/reset';
@import 'plugins/slick';
@import 'plugins/slick-theme';
@import 'plugins/magnific-popup';
@import 'mixfonset/fonts';
@import 'mixfonset/settings';
@import 'mixfonset/mixins';
@import 'buttons';


/*

CSS clearfix----------  @extend %clearfix;

CSS vertical align 
with before  ---------  @extend %clearfix;

CSS position----------  @include position(absolute, auto, 0, auto, 0);

CSS transition--------  @include transition(all, .2s);
CSS transform---------  @include transform(rotate(45deg));
CSS animation---------  @include animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms);

CSS FLEX--------------  @include flex($alignI: center, $justify: space-between,  $direction: row, $wrap: nowrap);	  
CSS FLEX direction----  @include flexDirection(column);
  
CSS Triangle----------  @include triangle(left, $size: 6px, $color: #222);
CSS text ending ------  @include textEnd($overflow: ellipsis); // values are: clip, ellipsis, or a string
CSS tooltip-----------  @include tooltiptooltip($content: attr(data-tooltip), $direction: top);


*/

p {
   font: 14px/25px $c; 
   text-align: left;
   margin-bottom: 25px;
}
h2 {
    font: 55px/60px $g;
    color: $yellow;
}


/*=====================================================================================*/
/*  HEADER STYLES  */ 
         
header {
    @include position(absolute, 20px, auto, auto, 0);
    width: 100%;
    z-index: 100;
    margin: 0;
    color: #FFF;
    @include transition(all, .4s);
    
        /*.................media.............*/
        @include m800 {
            @include position(fixed, 0, auto, auto, -100%);
            width: 260px !important;
            height: 100%;
            text-align: center;
            background-color: #fff;
            margin-top: 0;
            padding: 20px 0;
            z-index: 100;
             
            &.active { left: 0;}
            .wrapper {
                   @include flexDirection(column);
                   width: 100%;
            }
        }
        /*.............end media..............*/
        
    .wrapper {
         @include flex();
    }
}


/* ------------------------------------ */
/*  LOGO STYLES  */


.tel {
    display: block;
    font: 19px $d;
    margin-bottom: 20px;
    color: #FFF;
}

/* ------------------------------------ */
/*  NAV STYLES  */

nav ul {
    @include flex();
    list-style-type: none;
    a {
        display: inline-block;
        padding: 0 14px;
        height: 35px;
        font: 14px/35px $cb;  
        color: #FFF;      
        text-decoration: none;
        overflow: hidden;
        -webkit-background-size: 100% 100%;
             -o-background-size: 100% 100%;
                background-size: 100% 100%;
        @include transition(all, .2s);             
        &:hover {}
        &.active {   
            background-image: url('../images/button--top_menu.png');     
        }
    }

        /*.................media.............*/
        @include m800 { 
            display: block;
            height: 100%;
            overflow: scroll;
            position: relative;
            li a  {   
                &.active {color: #ECCC1D;}
                &:hover  {background: transparent;}
            } 
        }
        /*.............end media.............*/
}



/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 50px;
    height: 50px;
    @include position(fixed, 15px, 15px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: salmon;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 5px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 12px;  margin: auto;}
    .middle_line           {   top: 22px;  margin: auto;}
    .bottom_line           {   bottom: 12px; margin: auto;}

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @include m800 {
            display: block;
        }
        /*..............end media.............*/

}





/*=====================================================================================*/
/*  OFFER STYLES  */ 


.offer {
    height: 680px;
    background: url('../images/offer.jpg') no-repeat center center;
    padding: 160px 0 0 0;
    position: relative;
    overflow: hidden;
    .after {
        width: 1px;
        position: absolute;
        left: auto;
        right: 0;
        bottom: 0px;
        z-index: 4;
        border-left: 1900px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 100px solid #fff;
    }
    .wrapper {
        height: 100%;
    }
}

.offer__slider {
    width: 100%;
    height: 100%;
    .slick-list {
        height: 100%;
    }
    .slick-list,
    .slick-track {
        overflow: visible;
    }
    &__slide {
        position: relative !important;
        text-align: right;
        img {
            @include position(absolute, auto, auto, -85px, 0);
            z-index: 1;
        }
        &:nth-of-type(1) img {
            @include position(absolute, auto, auto, -193px, -77px);
        }
        &:nth-of-type(2) img {
            
        }
        &:nth-of-type(3) img {
            @include position(absolute, auto, auto, -100px, -77px);
        }
        &__info {
            min-width: 520px;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            position: relative;
            z-index: 2;
            h2 {
                font: 48px/60px $g;
                color: $yellow;
                text-shadow: 2.828px 2.828px 0px rgba( 0, 0, 0, 1 );
                span {
                    display: block;
                    font-size: 56px;
                }
            }
            .offer__slider__quote {
                display: block;
                font: 44px/45px $g;
                text-shadow: 2.121px 2.121px 0px rgba( 0, 0, 0, 1 );
                color: $blue;
                width: 286px;
                height: 200px;
                background-image: url("../images/tip.png");
                background-size: auto;
                margin-left: 0px;
                background-repeat: no-repeat;
                margin-top: -8px;
                background-position: 0px 6px;
                span {
                    display: inline-block;
                    vertical-align: middle;
                    text-align: left;
                    padding-left: 10px;
                }
                &:before {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    height: 100%;
                }
            }
            .button {
                margin-top: 20px;
            }
        }
        &:nth-of-type(2),
        &:nth-of-type(3)  {
            .offer__slider__quote {
                margin: -8px auto 0;
            }
        }
    }
}



/*=====================================================================================*/
/*  ABOUT  */ 

.whoWhom {
    margin-top: 115px;
    @include flex($alignI: top);
    background-image: url("../images/5.png");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    &__item {
        width: 340px;
        h3 {
            font: 45px/60px $g;
            margin-bottom: 10px;
            text-align: left;
        }
        p {
            padding-right: 20px;
            min-height: 150px;
        }
    }
}


/*=====================================================================================*/
/*  PROGRAMS  */ 

.chooseProgram {
    
}

.programs {
    @include flex($alignI: top, $wrap: wrap);
    &__item {
        width: 170px;
        height: 115px;
        padding-top: 25px;
        &:before {
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            content: "";
        }
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
}


@import 'shedule';
@import 'abonement';
@import 'team';
@import 'gallery';
@import 'sign-up';
@import 'footer';
