// COLORS
// ---------------------------
$yellow:		#FFF600;
$blue:			#00AAFF;
$red:			#f75d60;

// FONTS
// ---------------------------
$c:				'Consolas';
$ci:			'Consolas-italic';
$cb:			'Consolas-bold';
$cbi:			'Consolas-bold-italic';

$g:				'Gagalin';

$d:				'Days';


// RESPONSIVE
// ---------------------------
$tablets:		'max-width: 1000px';
$phones:		'max-width: 750px';


// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}
body {
	font-family: $c;
	font-size: 14px;
}
h1,
h2 {
	font-family: $g;
    text-shadow: 2px 2px 0 #000;
    font-weight: normal;
}
.white {
	color: #FFF;
}




// lAYOUT
// ---------------------------
.wrapper {
	width: 990px;
	margin: 0 auto;
	text-align: center;
	@media (max-width: 1000px) {
		width: 100%;
		padding: 0 10px;
	}
}
